<div class="background fade-in-soft">
    <div class="contact-container">
        <h1>Contact</h1>
        <p>Thanks for viewing my portfolio! Feel free to contact me if you have
            any questions!
        </p>
        <ul>
            <li>
                <a class="underline-anim" href="mailto:WilliamAuCS@Gmail.com">Email:</a>
                <span> WilliamAuCS@Gmail.com</span>
            </li>
            <li>
                <a class="underline-anim" href="https://www.linkedin.com/in/william-au-964ab616b/" target="_blank">Linked-In</a>
            </li>
            <li>
                <a class="underline-anim" href="https://github.com/WilliamAuCS" target="_blank">Github</a>
            </li>
            <li>
                <a class="underline-anim" href="https://drive.google.com/file/d/1b6IQH6noOXQvPDl-Q9fQT0wXWtt7_bLG/view?usp=sharing" target="_blank">Resume</a>
            </li>
        </ul>
    </div>
</div>