.navigation-bar {
    padding-top: 8%;
    display: flex;
    margin-bottom: 0;
}

.nav-item {
    list-style-type: none;
    position: relative;
}

a.nav-link {
    color: white;
    font-size: 170%;
    outline: none;
}

.gap-between {
    margin-left: 5%;
}

mat-toolbar {
    display: none;
}

#dropdown-button {
    margin: 10px 0 0 0;
    outline: none;
}


mat-sidenav {
    display: none;
    width: 30%;
    padding: 10px;
}

mat-sidenav a {
    color: inherit;
    padding: 10px 0;
}

/* Replaces toolbar with dropdown if screen width is insufficient */

@media (max-width: 960px) {
    mat-sidenav-container {
        /* height: calc(100% - 128px); */
    }
}

/* Hand-held mobile devices  */
@media (max-width: 500px) {
    .nav-desktop {
        display: none;
    }
    mat-toolbar {
        display: flex;
    }
    mat-sidenav, mat-sidenav a{
        display: block;
    }
    mat-sidenav {
        margin-top: 56px;
    }
    mat-sidenav-container {
        /* height: calc(100% - 0%); */
    }
}