.background {
    background-color: black;
    position: relative;
    /* border: 1px solid red; */
}

.navigation-bar {
    padding-top: 8%;
    display: flex;
    margin-bottom: 0;
}

.nav-item {
    list-style-type: none;
    position: relative;
}

a.nav-link {
    color: white;
    font-size: 170%;
    outline: none;
}

.gap-between {
    margin-left: 5%;
}

