<div class="nav-desktop">
    <ul class="navigation-bar fade-in-soft">
        <span class="gap-between"></span>
        <li class="nav-item">
            <a class="nav-link underline-anim" [routerLink]="['/']">Home</a>
        </li>
        <span class="gap-between"></span>
        <li class="nav-item">
            <a class="nav-link underline-anim" [routerLink]="['projects']">Projects</a>
        </li>
        <span class="gap-between"></span>
        <li class="nav-item">
            <a class="nav-link underline-anim" [routerLink]="['sandbox']">Sandbox</a>
        </li>
        <li class="nav-item ml-auto">
            <a class="nav-link underline-anim" [routerLink]="['contact']">Contact</a>
        </li>
        <span class="gap-between"></span>
    </ul>
</div>

<!-- Secondary drop-down toolbar for mobile devices/lower width platforms -->
<mat-toolbar>
    <button id="dropdown-button" mat-icon-button (click)="sideNav.toggle()" color="accent">
        <mat-icon>menu</mat-icon>
    </button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-wrapper" [hasBackdrop]='false' autosize>

    <mat-sidenav #sideNav mode='over' class="sidenav-content" autoFocus="false">

        <a [routerLink]="['/']">Home</a>
        <a [routerLink]="['/projects']">Projects</a>
        <a [routerLink]="['/sandbox']">Sandbox</a>
        <a [routerLink]="['/contact']">Contact</a>

    </mat-sidenav>

    <mat-sidenav-content>
        <ng-content></ng-content>
    </mat-sidenav-content>

</mat-sidenav-container>