<div class="background">

    <img class="fade-in-soft" src="assets/portrait_pic.png" id="portrait-img">
    <div class="name-container fade-in-soft">
        <h1>William &nbsp;Au</h1>
        <h2>Full-Stack Software Engineer</h2>
        <div class="links">
            <a class="underline-anim" href="https://drive.google.com/file/d/1b6IQH6noOXQvPDl-Q9fQT0wXWtt7_bLG/view?usp=sharing" target="_blank">Resume</a>
            <a class="underline-anim" href="https://www.linkedin.com/in/william-au-964ab616b/" target="_blank">Linked-In</a>
            <a class="underline-anim" id="right-link" href="https://github.com/WilliamAuCS" target="_blank">Github</a>
        </div>
        
    </div>
</div>