.background {
    position: relative;
}

mat-tab-group {
    color: white;
}

::ng-deep .mat-tab-label {
    font-size: 20px;
}

#description-tab {
    width: 100%;
    height: 100%;
    margin-top: -15px;
    padding-top: 35px;
    /* border: 1px solid red; */
}
.tab-header {
    text-align: center;
    margin-top: 3%;
}
.tab-header h2 {
    font-size: 2.5vw;
}

.tab-container {
    margin: 0 5%;
    margin-top: 40px;
}

.important-messages {
    margin-top: 2%;
    text-align: center;
}

.container-card {
    background-color: gray;
}

.evidence-list {
    text-align: center;
    margin-top: 20px;
}

.checkbox-evidence {
    margin-right: 30px;
}

.ghost-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0;
}

.ghost-card {
    max-width: 400px;
    margin: 2%;
}
mat-card-header {
    display: block;
    text-align: center;
    width: 100%;
}

.ghost-name {
    font-size: 180%;
}

mat-card-content h5 {
    font-weight: bold;
}

#information-tab {
    background-image: url('/assets/phasmophobia/information_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#calculator-tab {
    /* position: fixed; */
    background-image: url('/assets/phasmophobia/calculator_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 76vh;
}
#description-tab {
    min-height: 82vh;
}
#notice-message {
    margin-top: 2%;
}

@media (max-width: 1000px) {
    .ghost-card {
        max-width: 300px;
    }
    ::ng-deep .mat-tab-label {
        font-size: 15px;
    }
}

/* Extra styling for mobile devices */
@media (max-width: 500px) {
    .tab-header h2 {
        font-size: 9vw;
    }
    .important-messages {
        margin-top: 20vh;
    }
    #notice-message {
        margin-top: 20vh;
    }
    #information-tab {
        background-image: none;
    }
    .ghost-card {
        margin: 0 0 3% 0;
    }
}