.sandbox-container {
    color: white;
    margin: 2% 5% 0 5%;
    /* border: 1px solid red; */
}

.page-header {
    padding-top: 7%;
    font-size: 350%;
    margin: 5% 0 0 5%;
}

.card-item {
    max-width: 400px;
}

.encryption-image {
    background-image: url('/assets/encryption-image.png');
    background-size: cover;
}

.form-button {
    left: 130px;
    bottom: 20px;
}

p a {
    text-decoration: none;
}