.background {
    position: relative;
    /* height: 100%; */
    /* width: 100%; */
    /* border: 1px solid red; */
}
.sandbox-container {
    color: white;
    margin: 2% 5% 0 5%;
    display: flex;
}

.card-item {
    max-width: 400px;
    min-width: 350px;
    margin: 0 8% 0 7%;
}

.encryption-image {
    background-image: url('/assets/encryption-image.png');
    background-size: cover;
}

p mat-form-field {
    display: block;
    margin: 0 auto 0 auto;
}



.form-button {
    display: block;
    margin: 0 auto 0 auto;
    outline: none;
    margin-bottom: 3%;
}

p a {
    text-decoration: none;
}

@media (max-width: 960px) {
    .sandbox-container {
        color: white;
        margin: 2% 5% 0 5%;
        display: flex;
        flex-direction: column;
    }
    .card-item {
        margin: 0 auto 3% auto;
    }
    mat-label {
        font-size: 2vw;
    }
}

@media (max-width: 500px) {
    .sandbox-container {
        color: white;
        margin: 2% 3% 0 3%;
        display: flex;
        flex-direction: column;
    }
    .card-item {
        margin: 0 auto 3% auto;
    }
    mat-label {
        font-size: 4vw;
    }
}