.background {
    position: relative;
}

.sandbox-container {
    color: white;
    margin: 2% 5% 0 5%;
    display: flex;
    flex-wrap: wrap;
}

.card-item {
    width: 400px;
    margin: 0 5% 3% 5%;
}

.encryption-image {
    background-image: url('/assets/encryption_image.png');
    background-size: cover;
}

.mongodb-image {
    background-image: url('/assets/mongodb_image.png');
    background-size: cover;
}

p mat-form-field {
    display: block;
    margin: 0 auto 0 auto;
}

form mat-form-field {
    width: 30%;
    float: left;
    margin: 0 auto 0 auto;
}

.form-button {
    display: block;
    margin: 0 auto 0 auto;
    outline: none;
    margin-bottom: 3%;
}

.form-wrapper {
    margin: 0;
    display: flex;
    flex-direction: column;
}

p a {
    text-decoration: none;
}

@media (max-width: 960px) {
    .sandbox-container {
        color: white;
        margin: 2% 5% 0 5%;
        display: flex;
        flex-direction: column;
    }
    .card-item {
        margin: 0 auto 3% auto;
    }
    mat-label {
        font-size: 2vw;
    }
}

@media (max-width: 500px) {
    .sandbox-container {
        color: white;
        margin: 2% 3% 0 3%;
        display: flex;
        flex-direction: column;
    }
    .card-item {
        margin: 0 auto 3% auto;
    }
    mat-label {
        font-size: 4vw;
    }
}