.background {
    background-color: black;
    position: absolute;
}

.projects-container {
    color: white;
}

.page-header {
    padding-top: 7%;
    font-size: 500%;
    margin: 5% 0 0 5%;
}

.project-item {
    padding: 25px;
    margin: 0% 0 5% 0;
    height: 500px;
    width: 100%;
    float: right;
    display: flex;
}

.project-summery-list {
    display: flex;
    margin-top: 6%;
}

.project-description, .project-description-first, .project-description-second {
    color: white;
    height: 50%;
    width: 30%;
}

.project-description-first {
    margin: 5% 3% 0 15%;
}

.project-description-second {
    margin: 5% 3% 0 3%;
}

.project-summery, .project-summery-first, .project-summery-second {
    width: auto;
    padding: 5px;
}

.project-summery-first {
    margin: 5% 0 0 8%;
}

.project-summery-second {
    margin: 5% 0 0 20%;
}