<div class="background">
    <div class="projects-container fade-in-soft">
        <h1 class="projects-header">Projects</h1>
        <div class="project-item">
            <div class="project-summery">
                <h3 style="text-align: center">
                    Summary
                </h3>
                <div class="project-summery-list">
                    <ul>
                        <h5 style="text-decoration: underline">Front-End</h5>
                        <li>
                            Angular 9
                        </li>
                        <li>
                            TypeScript
                        </li>
                        <li>
                            HTML/CSS/SCSS
                        </li>
                        <li>
                            Angular Materials
                        </li>
                        <li>
                            Interceptor
                        </li>
                    </ul>
                    <span style="margin: 0 5%"></span>
                    <ul>
                        <h5 style="text-decoration: underline; width: 85px">Back-End</h5>
                        <li>
                            Node.js
                        </li>
                        <li>
                            Javascript
                        </li>
                        <li>
                            Express
                        </li>
                        <li>
                            Mongodb
                        </li>
                        <li>
                            Mongoose
                        </li>
                        <li>
                            JSON Web Token
                        </li>
                        <li>
                            Argon2
                        </li>
                    </ul>
                </div>


            </div>
            <div class="project-description">
                <h3 style="text-align: center; margin-bottom: 3%;">
                    <a href="https://makosusa.com" style="color: inherit">MakosUSA.com</a>
                </h3>
                <p>
                    This is a description of my project. I dont know how long they should be but this is
                    just here to get the flow of the matter. It may actually be longer than this, depending
                    on the project of course, but again, I am just using this to get the general feel for the
                    sizing and how it will look!
                </p>
            </div>
            <img class="project-img" src="assets/JA-Makos_Logo.PNG">
        </div>
        <div class="project-item">
            <img class="project-img" src="assets/JA-Makos_Logo.PNG">
            <div class="project-description">
                <h3 style="text-align: center; margin-bottom: 3%;">
                    <a href="https://makosusa.com" style="color: inherit">MakosUSA.com</a>
                </h3>
                <p>
                    This is a description of my project. I dont know how long they should be but this is
                    just here to get the flow of the matter. It may actually be longer than this, depending
                    on the project of course, but again, I am just using this to get the general feel for the
                    sizing and how it will look!
                </p>
            </div>
            <div class="project-summery">
                <h3 style="text-align: center">
                    Summary
                </h3>
                <div class="project-summery-list">
                    <ul>
                        <h5 style="text-decoration: underline">Front-End</h5>
                        <li>
                            Angular 9
                        </li>
                        <li>
                            TypeScript
                        </li>
                        <li>
                            HTML/CSS/SCSS
                        </li>
                        <li>
                            Angular Materials
                        </li>
                        <li>
                            Interceptor
                        </li>
                    </ul>
                    <span style="margin: 0 5%"></span>
                    <ul>
                        <h5 style="text-decoration: underline">Back-End</h5>
                        <li>
                            Node.js
                        </li>
                        <li>
                            Javascript
                        </li>
                        <li>
                            Express
                        </li>
                        <li>
                            Mongodb
                        </li>
                        <li>
                            Mongoose
                        </li>
                        <li>
                            JSON Web Token
                        </li>
                        <li>
                            Argon2
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>