<div class="background">
    <div class="projects-container fade-in-soft">
        <h1 class="page-header">Projects</h1>

        <!-- MakosUSA -->
        <div class="project-item">
            <div class="project-summery-first">
                <h3 style="text-align: center">
                    Software
                </h3>
                <div class="project-summery-list">
                    <ul>
                        <h5 style="text-decoration: underline">Front-End</h5>
                        <li>
                            Angular 9
                        </li>
                        <li>
                            TypeScript
                        </li>
                        <li>
                            HTML/CSS/SCSS
                        </li>
                        <li>
                            Angular Materials
                        </li>
                        <li>
                            Interceptor
                        </li>
                    </ul>
                    <span style="margin: 0 5%"></span>
                    <ul>
                        <h5 style="text-decoration: underline; width: 85px">Back-End</h5>
                        <li>
                            Node.js
                        </li>
                        <li>
                            Javascript
                        </li>
                        <li>
                            Express
                        </li>
                        <li>
                            Mongodb
                        </li>
                        <li>
                            Mongoose
                        </li>
                        <li>
                            JSON Web Token
                        </li>
                        <li>
                            Argon2
                        </li>
                    </ul>
                </div>


            </div>
            <div class="project-description-first">
                <h3 style="text-align: center; margin-bottom: 3%;">
                    <a href="https://makosusa.com" style="color: inherit">MakosUSA.com</a>
                    <h6>(in progress)</h6>
                </h3>
                <p>
                    This is a description of my project. I dont know how long they should be but this is
                    just here to get the flow of the matter. It may actually be longer than this, depending
                    on the project of course, but again, I am just using this to get the general feel for the
                    sizing and how it will look!
                </p>
            </div>
            <img class="project-img" src="assets/JA-Makos_Logo.PNG" style="margin: 5% 10% auto auto; width: 25%; height: 55%; float: right">
        </div>
        <!-- Portfolio (current) -->
        <div class="project-item">
            <img src="assets/Angular_logo.png" style="height: 250px; margin: auto 0 auto 10%">
            <div class="project-description-second">
                <h3 style="text-align: center; margin-bottom: 3%;">
                    <a href="https://WilliamAuCS.com" style="color: inherit">WilliamAuCS.com</a>
                </h3>
                <p>
                    This is a description of my project. I dont know how long they should be but this is
                    just here to get the flow of the matter. It may actually be longer than this, depending
                    on the project of course, but again, I am just using this to get the general feel for the
                    sizing and how it will look!
                </p>
            </div>
            <div class="project-summery-second">
                <h3 style="text-align: center">
                    Software
                </h3>
                <div class="project-summery-list">
                    <ul>
                        <h5 style="text-decoration: underline">Front-End</h5>
                        <li>
                            Angular 9
                        </li>
                        <li>
                            TypeScript
                        </li>
                        <li>
                            HTML/CSS/SCSS
                        </li>
                    </ul>
                    <span style="margin: 0 5%"></span>
                    <ul>
                        <h5 style="text-decoration: underline">Back-End</h5>
                        <li>
                            Node.js
                        </li>
                        <li>
                            Javascript
                        </li>
                        <li>
                            Express
                        </li>
                        <li>
                            Mongodb
                        </li>
                        <li>
                            Mongoose
                        </li>
                        <li>
                            JSON Web Token
                        </li>
                        <li>
                            Argon2
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Portfolio (legacy) -->
        <div class="project-item">
            <div class="project-summery-first">
                <h3 style="text-align: center">
                    Software
                </h3>
                <div class="project-summery-list">
                    <ul>
                        <li>
                            React.js
                        </li>
                        <li>
                            JavaScript
                        </li>
                        <li>
                            HTML/CSS
                        </li>
                        <li>
                            AWS S3
                        </li>
                        <li>
                            AWS Certificate Manager
                        </li>
                        <li>
                            AWS Cloud Front
                        </li>
                    </ul>
                </div>
            </div>
            <div class="project-description-first">
                <h3 style="text-align: center; margin-bottom: 3%;">
                    <h3>Portfolio Website (prior to rework)</h3>
                </h3>
                <p>
                    This website was my first time programming in the front-end. I created
                    this website using the JavaScript React library. Creating this website
                    was a challenge at first, as it was my first time experiencing front-end
                    development, however the concept quickly became familiar.
                </p>
            </div>
            <img class="project-img" src="assets/react_logo.png" style="margin: 5% 10% auto auto; height: 250px; width: 250px; float: right">
        </div>
        <!-- SQL Database -->
        <div class="project-item">
            <img src="assets/mysql_logo.png" style="height: 250px; margin: auto 0 auto 10%">
            <div class="project-description-second">
                <h3 style="text-align: center; margin-bottom: 3%;">
                    <h3>SQL Database</h3>
                </h3>
                <p>
                    This project was completed for my 332 Database course. It was my first
                    time creating a database, and really sparked my interest in the field. I
                    was in a team with two other students, completing the project in under two
                    weeks.
                </p>
            </div>
            <div class="project-summery-second">
                <h3 style="text-align: center">
                    Software
                </h3>
                <div class="project-summery-list">
                    <ul>
                        <li>
                            SQL
                        </li>
                        <li>
                            PuTTY
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Cube Runner -->
        <div class="project-item">
            <div class="project-summery-first">
                <h3 style="text-align: center">
                    Software
                </h3>
                <div class="project-summery-list">
                    <ul>
                        <li>
                            Unity Engine
                        </li>
                        <li>
                            C#
                        </li>
                    </ul>
                </div>
            </div>
            <div class="project-description-first">
                <h3 style="text-align: center; margin-bottom: 3%;">
                    <h3>Cube Runner</h3>
                </h3>
                <p>
                    Cube Runner was my first Unity project. Starting off, I used many
                    tutorials learning how to utilize the Unity rigid body system
                    and implimenting physics. The game is playable with multiple
                    complete levels, challenging even the best players.
                </p>
            </div>
            <img class="project-img" src="assets/cube_runner.png" style="margin: 5% 10% auto auto; height: 250px; width: 250px; float: right">
        </div>
        <!-- Mysteria -->
        <div class="project-item">
            <img src="assets/Mysteria.PNG" style="height: 250px; margin: auto 0 auto 10%">
            <div class="project-description-second">
                <h3 style="text-align: center; margin-bottom: 3%;">
                    <h3>Mysteria</h3>
                </h3>
                <p>
                    This project was my first major game created using the Unity Engine.
                    This game is an RPG style, tile based game allowing the player to make
                    decisions that will help progress the storyline, as well as make NPC friends.
                </p>
            </div>
            <div class="project-summery-second">
                <h3 style="text-align: center">
                    Software
                </h3>
                <div class="project-summery-list">
                    <ul>
                        <li>
                            Unity Engine
                        </li>
                        <li>
                            C#
                        </li>
                        <li>
                            A* Pathing
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Cube Runner -->
        <div class="project-item">
            <div class="project-summery-first">
                <h3 style="text-align: center">
                    Software
                </h3>
                <div class="project-summery-list">
                    <ul>
                        <li>
                            Python 3
                        </li>
                        <li>
                            Pygame
                        </li>
                        <li>
                            PyCharm
                        </li>
                    </ul>
                </div>
            </div>
            <div class="project-description-first">
                <h3 style="text-align: center; margin-bottom: 3%;">
                    <h3>Pong</h3>
                </h3>
                <p>
                    Pong was my first game created using Python. The game comes
                    integrated with sounds, collisions, and a fully functioning
                    scoreboard with its own unique win/loss sounds. Unlike classic
                    Pong, this game has no walls, forcing players to pay attention
                    to vertical dynamics as well.
                </p>
            </div>
            <img class="project-img" src="assets/Pong.PNG" style="margin: 5% 10% auto auto; height: 250px; width: 250px; float: right">
        </div>
        <!-- Alien Invasion -->
        <div class="project-item">
            <img src="assets/Alien_Invasion.PNG" style="height: 250px; margin: auto 0 auto 10%">
            <div class="project-description-second">
                <h3 style="text-align: center; margin-bottom: 3%;">
                    <h3>Alien Invasion</h3>
                </h3>
                <p>
                    Alien Invasion, similar to my Pong game was created using Python. Many online
                    resources were utilized in the creation of this game, allowing me to grasp
                    new and more intermediate concepts. This game is more complicated, having
                    multiple moving AI's constantly moving to defeat the player, as well as a
                    fully functioning scoreboard.
                </p>
            </div>
            <div class="project-summery-second">
                <h3 style="text-align: center">
                    Software
                </h3>
                <div class="project-summery-list">
                    <ul>
                        <li>
                            Python 3
                        </li>
                        <li>
                            Pygame
                        </li>
                        <li>
                            PyCharm
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>